.classpath
.settings
.project
.idea
target
api/bin/
omod/bin/
web-1.9/bin/
web-2.0/bin/

*.iml
*.sass-cache
*.DS_Store

*.css
omod/src/main/compass/sass-external/*

# Rubygems build directories #
omod/.rubygems
omod/.rubygems-provided