/.classpath
/.settings
/.project
/target
/api/.classpath
/api/.settings
/api/.project
/api/target
/omod/.classpath
/omod/.settings
/omod/.project
/omod/target

/.idea
*.iml
*.sass-cache
*.DS_Store

*.css
omod/src/main/compass/sass-external/*

# Rubygems build directories #
omod/.rubygems
omod/.rubygems-provided