.default-patient-photo {
	display: inline-block;
	background: white;
	padding: 43px 55px;
	vertical-align: top;
	border: 1px solid #ddd;
}

.fielderror {
color: #ff6666;
font-size: 1.1em;
display: block;
}